<div class="container">
    <div class="row">
         <div class="col-md-12" style="text-align: center;">
            <br>
            <div class="card">
                <div class="card-body">
                  <h1 class="card-title text text-danger">ACCESS FORBIDDEN</h1>
                  <h6 class="card-subtitle mb-2 text-muted">ERROR</h6>
                  <p class="card-text">You dont have sufficient permissions to access this area.</p>
                  <a [routerLink]="['/home']" routerLinkActive="true"  class="card-link">Go back Home.</a>
                </div>
              </div>
        </div>
    </div>
</div>