

<div class="card " style="width: 20rem; margin: 10px;">
    <img class="card-img-top" src={{item.itemPictureUrl}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" >{{item.itemName}} </h5>
      <h6 class="card-subtitle mb-2 text-muted"> {{item.itemPrice.toFixed(2)}} €</h6>
      <p class="card-text" title="{{item.description}}" style="white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;">{{item.description | trait}} </p>
      <p></p>
      <button class="btn btn-primary" style="width: 100%;" (click)="addToCart()">Add to cart</button>
    </div>
  </div>
